<h1>Login Here</h1>
<%= form_tag("/home", method: "post") do %>
  <div>
    <%= text_field_tag(:email, nil, placeholder: "email") %>
  </div>
  <br/>
  <div>
    <%= text_field_tag(:password_digest, nil, placeholder: "password") %>
  </div>
<% end %>
